/***************************
COMMON 
****************************/
body{
    font-family: 'arial', 'sans-serif';
}

.font-primary{
    color: mediumpurple;
}

.tilte-icon{
    font: size 20px;
    font-weight: bold; 
}